<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/dog">{{pet1}}</a>

<div class="display">
    <div class="puppyPic">
        <img src="{{dogPic}}" alt="">
    </div>
</div>



<!--<img src="{{srcdog}}" alt="">-->


<!--<a href="/dog">-->
<!--<img src="{{srcdog}}" alt="">-->
<!--</a>-->

<!--<div class="display">-->
<!--<div class="puppyPic">{{srcdog}}</div>-->
<!--<div class="showerThought">thought</div>-->
<!--</div>-->
