<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/dog">{{pet1}}</a>














<!--<button type="button" name={{pet1}}>-->
    <!-- this sends the user to a totally diff page-->
    <!--<a href="https://cdn.shopify.com/s/files/1/1325/8559/files/hot-dog-puppy-gif.gif?6634921657666695605">{{pet1}}</a>-->
    <!--<a href="https://www.reddit.com/r/lookatmydog/.json.data.children.data.title"></a>-->
    <!--https://www.reddit.com/r/Actualshowerthoughts/.json.data.children.data.data.title-->
    <!--https://www.reddit.com/r/puppygifs/.json.data.children.data.url-->
<!--</button>-->




<!--<button type="button" name={{pet2}}>-->
    <!--<a href="images/kitten.gif">{{pet2}}</a>-->
<!--</button>-->

<!--<div class="display">-->
    <!--<div class="puppyPic">pet</div>-->
    <!--<div class="showerThought">thought</div>-->
<!--</div>-->


